/* Estilos base del header */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInDown2 {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInDown {
  animation: fadeInDown 2s ease-out;
  /* Aplicar la animación */
}

.fadeInDown2 {
  animation: fadeInDown2 2s ease-out;
  /* Aplicar la animación */
}

.fadeIn {
  animation: fadeIn 2s ease-out;
  /* Aplicar la animación */
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.4s ease;
  z-index: 1000;
  padding: 17px 8% 17px 10%;
}

.logo img {
  width: 7vw;
  transition: width 0.4s ease;
  min-width: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  margin-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  font-size: 17.5px;
  color: var(--color-5);
  /* Color base de los enlaces */
  transition: color 0.4s ease, opacity 0.4s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

  @media (max-width: 768px) {

    font-size: 2.6vw;
  }
}

/* Efecto de opacidad cuando se pasa el mouse por encima de los enlaces */
nav ul li a:hover {
  opacity: 0.7;
}

/* Estilo del header en la parte superior (grande y transparente) */
#main-header.transparent {
  background: transparent;
}

#main-header.transparent nav ul li a {
  color: var(--color-5);
}

/* Estilo del header cuando se hace scroll (más pequeño y con fondo blanco) */

#main-header.scrolled nav ul li {
  margin-bottom: 2px;
}

#main-header.scrolled {
  background-color: rgba(var(--color-rgb-0), 0.8);
  padding: 1px 8% 0px 10%;
}

#main-header.scrolled .logo img {
  width: 4vw;
}

#main-header.scrolled nav ul li a {
  color: var(--color-5);
  /* Mantiene el color al hacer scroll */
}/*WAVE INICIO*/

.bg_color{
  width: 100%;
  height: 70%;
  background: var(--color-2);
  position: absolute;
  top: 0;
}

.wave{
  width: 6000px;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  background-image: url(../../../assets/wd1.svg);
  background-position: bottom;
}

.w1{
  animation: w1 7s linear infinite;
}

.w2{
  animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
  opacity: 0.5;
}

@keyframes w1 {
  0%{
      margin-left: 0;
  }
  100%{
      margin-left: -1600px;
  }
}

@keyframes w2 {
  0%{
      margin-left: 0;
  }
  100%{
      margin-left: -1600px;
  }
}

@keyframes desplazamiento {
  0%, 100%{
      transform: translateY(-25px);
  }

  50%{
      transform: translateY(10px);
  }
}
/*WAVE FINAL*/


/* Estilos para el contenido de prueba */
.content {
  padding: 0% 10% 0% 10%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: transparent !important;
  background: url(../../../assets/SARA_PORTADA.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 768px) {
    padding: 0% 5% 0% 5%;
  }
}

.content p {
  font-size: 1.3vw;
  color: var(--color-7);
  margin: 0px;
  margin-bottom: 0.9rem;
  font-family: "Poppins", Sans-serif;
  font-size: 1.3vw;
  font-weight: 500;
}

.content .nombre {
  color: var(--color-5);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 3vw;
  line-height: 1.2em;
}

.content .slogan {
  padding: 0% 21% 0% 0%;
  text-align: justify;
}

.content .conoce-mas {
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 1.1vw;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 2px;
  fill: var(--color-0);
  color: var(--color-0);
  background-color: var(--color-5);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 3px 5px 1px rgba(var(--color-rgb-8), 0.64);
  padding: 4% 8% 4% 8%;

  i {
    margin-left: 10px;
  }
}

.content .conoce-mas:hover {
  fill: var(--color-5);
  color: var(--color-5);
  background-color: var(--color-4);
}

.content .conoce-mas-container {
  padding: 4% 0% 4% 0%;
}

.content .presentacion {
  @media (max-width: 768px) {

    width: 80vw;

    p {
      font-size: 4vw;
    }

    .nombre {
      font-size: 7vw;
      line-height: 0.7em;
    }

    .slogan {
      padding: 0% 40% 0% 0%;
    }

    .conoce-mas {
      font-size: 3vw;
      padding: 6% 12% 6% 12%;
    }

    .conoce-mas-container {
      padding: 6% 0% 6% 0%;
    }
  }
}

.content-2 {
  min-height: 100vh;
  background-color: var(--color-0);
  margin: 15% 15% 16% 15%;

  @media (max-width: 768px) {
    margin: 20% 3% 16% 3%;
  }

  @media (max-width: 768px) {
    #scrolling-image {
      position: static;
      /* La imagen permanecerá estática en pantallas pequeñas */
    }
  }

  @media (min-width: 769px) {
    #scrolling-image {
      position: absolute;
      bottom: 0;
      /* Empieza la imagen desde abajo */
      left: 0;
      right: 0;
      transition: transform 0.2s ease-out;
      /* Transición suave para el desplazamiento */
    }

    .quien-soy-imagen {
      position: relative;
      overflow: hidden;
    }
  }
}

.content-2 .titulo p {

  color: var(--color-5);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 3vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-bottom: 40px;
  }
}

.content-2 .titulo hr {
  width: 40%;
  height: 3px;
  background-color: var(--color-5);
  border: none;
  opacity: 0.5;
  margin-bottom: 130px;

  @media (max-width: 768px) {

    margin-bottom: 40px;
  }
}

.content-2 .quien-soy p {
  text-align: justify;
  font-family: "Poppins", Sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 0px;

  @media (max-width: 768px) {
    font-size: 4vw;
  }
}

.content-2 .quien-soy-imagen {

  padding: 30px;
}

.content-2 .quien-soy-imagen img {
  margin: auto;
  width: 80%;
  box-shadow: 10px 10px 10px 0px rgba(var(--color-rgb-8), 0.27);

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.content-2 .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content-2 .col {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media (max-width: 768px) {

    flex: 0 0 100%;
    max-width: 100%;
  }
}

.content-2 .col:nth-child(2) {

  @media (max-width: 768px) {

    order: -1;
  }
}

#servicios {

  margin-top: 200px;
  margin-bottom: 50px;
  color: var(--color-0);

  @media (max-width: 768px) {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

.content-3 {
  min-height: 100vh;
  background-color: var(--color-0);
  margin: 0px 5% 20% 5%;

  @media (max-width: 768px) {
    margin: 0px 5% 40% 5%;
  }
}

.content-3 .titulo p {

  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.content-3 .sub-titulo {

  padding: 0% 20% 0% 20%;
  ;

  @media (max-width: 768px) {
    padding: 0% 2% 0% 2%;
  }
}

.content-3 .sub-titulo p {

  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 70px;


  @media (max-width: 768px) {
    font-size: 4vw;
  }
}



.content-3 .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0% auto 0% auto;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0% 0% 0% 0%;
  }
}

.content-3 .col {
  flex: 0 0 calc(40% - 40px);
  max-width: calc(50% - 40px);
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  box-sizing: border-box;
  background-color: var(--color-2);
  border-radius: 20px;
  height: 550px;

  p {
    margin: 0px;
  }

  @media (max-width: 768px) {

    margin-left: 15px;
    margin-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;

  }
}

.content-3 a {
  color: var(--color-8);
  text-decoration: none;
  padding: 30px;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.content-3 a:hover {
  background-color: var(--color-0);
}

.content-3 .titulo-2 {
  text-align: center;
  font-family: "Playfair Display", Sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  font-style: italic;
  line-height: 1em;
  letter-spacing: 1.5px;
  margin-bottom: 30px !important;


  @media (max-width: 768px) {
    font-size: 6vw;
  }
}

.content-3 .contenido {
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 0.9vw;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 3.5vw;
  }
}

.content-3 .mas-info {
  font-family: "Poppins", Sans-serif;
  font-size: 1.1vw;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 2px;
  fill: var(--color-0);
  color: var(--color-0);
  background-color: var(--color-5);
  border-radius: 50px 50px 50px 50px;
  padding: 15px 30px;


  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.content-3 .mas-info:hover {
  fill: var(--color-5);
  color: var(--color-5);
  background-color: var(--color-4);
}

.content-3 .mas-info-container {
  padding: 4% 0% 4% 0%;
}



.content-4 {
  min-height: 100vh;
  background-color: var(--color-2);
  padding: 15% 10% 16% 10%;

  @media (max-width: 768px) {
    padding: 20% 3% 16% 3%;
  }

  @media (max-width: 768px) {
    #scrolling-image2 {
      position: static;
      /* La imagen permanecerá estática en pantallas pequeñas */
    }
  }

  @media (min-width: 769px) {
    #scrolling-image2 {
      position: absolute;
      bottom: 0;
      /* Empieza la imagen desde abajo */
      left: 0;
      right: 0;
      transition: transform 0.2s ease-out;
      /* Transición suave para el desplazamiento */
    }

    .valores-principales-imagen {
      position: relative;
      overflow: hidden;
    }
  }
}

.content-4 .titulo p {

  color: var(--color-5);

  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.content-4 .sub-titulo {

  padding: 0% 20% 0% 20%;
  ;

  @media (max-width: 768px) {
    padding: 0% 2% 0% 2%;
  }
}

.content-4 .sub-titulo p {

  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 140px;



  @media (max-width: 768px) {
    font-size: 4vw;
    margin-bottom: 40px;
  }
}



.content-4 .valores-principales {
  text-align: justify;
  flex: 0 0 45%;
  max-width: 45%;
}

.content-4 .valores-principales-imagen {

  flex: 0 0 55%;
  max-width: 55%;
  padding: 30px;
}

.content-4 .valores-principales-imagen img {
  margin: auto;
  width: 80%;
  box-shadow: 10px 10px 10px 0px rgba(var(--color-rgb-8), 0.27);

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.content-4 .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  overflow: visible;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content-4 .col {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media (max-width: 768px) {

    flex: 0 0 100%;
    max-width: 100%;
  }
}

.content-4 .col:nth-child(2) {

  @media (max-width: 768px) {

    order: -1;
  }
}

.content-4 .valor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content-4 .valor-icono {

  flex: 0 0 105px;
  box-sizing: border-box;
  background-color: var(--color-0);
  border-radius: 100%;
  width: 105px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px var(--color-5) solid;
  color: var(--color-5);
  font-size: 33px;

  @media (max-width: 768px) {
    flex: 0 0 66px;
    width: 66px;
    height: 66px;
    margin-bottom: 20px;
  }
}

.content-4 .valor-content {
  flex: 0 0 calc(100% - 105px - 30px);
  padding-left: 30px;

  @media (max-width: 768px) {
    padding-right: 30px;
  }
}

.content-4 .valor-titulo p {
  font-family: "Poppins", Sans-serif;
  font-size: 1.5vw;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 1px;
  color: var(--color-5);
  margin: 0px;
  margin-bottom: 20px;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.content-4 .valor-sub-titulo p {
  color: var(--color-8);
  font-family: "Poppins", Sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
  margin: 0px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.content-valores-principales {
  position: relative;
  overflow-x: hidden;
}

.valor {
  will-change: transform;
  transition: transform 0.1s ease-out;
  opacity: 1;
}

.content-5 {
  min-height: 50vh;
  background-color: var(--color-0);
  margin: 12% 10% 20% 10%;

  @media (max-width: 768px) {
    margin: 14% 5% 40% 5%;
  }
}

.content-5 .titulo p {

  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 14%;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-bottom: 130px;
    margin-top: 150px;
  }
}

.content-5 .preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 0% 10%;


  @media (max-width: 768px) {
    padding: 0% 0% 0% 0%;
  }


  summary {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  summary i {
    margin-right: 15px;
    transition: transform .5s ease;
    transform: rotate(-90deg);

    @media (max-width: 768px) {
      font-size: 7vw;
    }
  }

  details[open] summary i {
    transform: rotate(0deg);
  }
}

.content-5 .preguntas details {
  width: 80%;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.content-5 .preguntas details summary {
  padding: 1% 3% 1% 3%;
  background-color: var(--color-4);
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 2em;

  text-align: justify;

  @media (max-width: 768px) {
    padding: 3% 5% 3% 5%;
    font-size: 4.8vw;
    line-height: 1.2em;
  }
}

.content-5 .preguntas details p {
  padding: 1% 3% 1% 3%;
  background-color: var(--color-1);
  margin: 0px;
  font-family: "Poppins", Sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.3em;
  border-bottom: 1px solid var(--color-2);
  text-align: justify;

  @media (max-width: 768px) {
    padding: 3% 5% 3% 5%;
    font-size: 4.5vw;
  }
}

.content-6 .desktop {

  display: initial;

  swiper-container {
    height: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {

    display: none;
  }
}

.content-6 .movil {
  display: none;

  swiper-container {
    height: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    display: initial;
  }
}




.content-7 {
  min-height: 50vh;
  background-color: var(--color-0);
  margin: 12% 5% 20% 5%;

  @media (max-width: 768px) {
    margin: 14% 1% 40% 1%;
  }
}

.content-7 .titulo p {

  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8%;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-bottom: 50px;
    margin-top: 150px;
  }
}

.content-7 .testimonios {
  column-count: 2;
  column-gap: 40px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 768px) {

    width: 100%;
    margin: 0px;
    column-count: 1;
  }
}

.content-7 .testimonio {
  padding: 20px;
  margin-bottom: 20px;
  break-inside: avoid;
}

.content-7 .comentario {
  font-family: "Montserrat", Sans-serif;
  font-size: 1vw;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5em;
  text-align: justify;

  @media (max-width: 768px) {
    font-size: 3.5vw;
  }
}

.content-7 .persona {
  display: flex;

  @media (max-width: 768px) {}
}

.content-7 .foto {
  flex: 0 0 80px;
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
  border: 3px var(--color-5) solid;

  img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {}
}

.content-7 .info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;

  @media (max-width: 768px) {}
}

.content-7 .nombre {
  color: var(--color-5);
  font-family: "Nunito", Sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-shadow: 2px 1px 4px rgba(var(--color-rgb-8), 0.3);

  p {
    margin: 0px;
  }

  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.content-7 .profecion {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.3em;

  p {
    margin: 0px;
  }

  @media (max-width: 768px) {
    font-size: 4.5vw;
  }
}


.content-8 {
  min-height: 20vh;
  background-color: var(--color-2);
  padding: 3% 10% 5% 10%;
  ;

  @media (max-width: 768px) {
    padding: 14% 1% 20% 1%;
  }
}

.content-8 .titulo p {
  font-family: "Playfair Display", Sans-serif;
  font-size: 4vw;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4%;

  @media (max-width: 768px) {
    font-size: 9vw;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

.content-8 .info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  flex-wrap: wrap;

  @media (max-width: 768px) {}
}

.content-8 .dato {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  color: var(--color-8);

  a {
    text-decoration: none;
    color: var(--color-8);
  }

  i {
    color: var(--color-5);
    width: 40px;
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 4.7vw;
    line-height: 1.4em;
    text-align: center;
  }
}

.content-8 .contacto {
  flex: 0 0 30%;

  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
}

.content-8 .rrss {
  flex: 0 0 30%;

  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
}

.content-8 .links {
  flex: 0 0 30%;

  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
}

.content-8 .rrss .sub-titulo {
  font-family: "Poppins", Sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 4.9vw;
  }
}


.content-8 .rrss .contenido {
  display: flex;
  justify-content: center;

  .doctoralia {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  a {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--color-8);
    background-color: var(--color-4);
    font-size: 1.2vw;
    margin: 10px;
    transition: transform 0.3s ease;
    /* Añadir transición para el efecto */

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 4.9vw;
    }

    i {
      text-align: center;
    }
  }

  a:hover {
    cursor: pointer;
    background-color: var(--color-3);
    transform: scale(1.1) !important;
    /* Agrandar el círculo */
  }
}




.content-8 .links {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }

  a {
    flex: 0 0 20px;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    padding: 30px;
    text-decoration: none;
    color: var(--color-0);
    background-color: var(--color-5);
    font-size: 1.2vw;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
    /* Añadir transición para el efecto */

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 4.9vw;

      width: 4vw;
      height: 4vw;
      margin-left: 10px;
      margin-right: 10px;
    }

    i {
      text-align: center;
    }
  }

  a:hover {
    cursor: pointer;
    background-color: var(--color-4);
    transform: scale(1.1) !important;
    /* Agrandar el círculo */
  }
}



footer {
  text-align: center;
  background-color: var(--color-4);
  color: var(--color-0);
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 20px;

  p {
    margin: 0px;
  }

  @media (max-width: 768px) {
    font-size: 2.6vw;
  }
}