<header id="main-header" class="fadeInDown">
    <a class="logo" href="#inicio">
        <img src="assets/ywtyexwx-1-300x168.png" alt="Logo" />
    </a>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>

<section class="content fadeIn" id="inicio">
    <div class="presentacion fadeInDown2">
        <p>Hola! Soy la Psicóloga</p>
        <p class="nombre ">Sara Cifuentes</p>
        <p class="slogan">Te ayudo a sanar y transformar tu vida, a través de psicoterapia</p>
        <div class="conoce-mas-container">
            <a href="#servicios" class="conoce-mas">CONOCE MÁS <i style="margin-left: 10px;"
                    class="fa fa-mouse-pointer"></i></a>
        </div>
    </div>
</section>

<section class="content-2">
    <div class="titulo">
        <p>¿Quién soy?</p>
        <hr />
    </div>
    <div class="content-quien-soy row">
        <div class="quien-soy col">
            <p>Soy Sara Cifuentes, una psicóloga apasionada, con 10 años de experiencia y más de 3,000 sesiones
                realizadas, ayudando a personas que han decidido transformar su vida mediante la psicoterapia, el
                autoconocimiento y el desarrollo personal. Creo firmemente que cada persona tiene el poder de sanar y
                evolucionar, y estoy aquí para acompañarte en ese viaje.
                <br>
                <br>
                Mi enfoque integrativo combina la psicología con elementos de psicoterapia enfocada en trauma (con
                Técnicas de Integración Cerebral), además de Programación Neurolingüística (PNL), Coaching,
                Psicosomática y 17 terapias holísticas. Esto permite proporcionarte herramientas prácticas y
                efectivas, que fomentan tu bienestar mental, emocional, físico y espiritual.
                <br>
                <br>
                Además de mi formación académica, cuento con diez años de experiencia en consulta particular. Trabajo
                con un equipo excepcional de destacados profesionales. He impartido conferencias en diversas
                universidades y he llevado a cabo masterclasses para importantes empresas con presencia nacional e
                internacional. Tuve el honor de representar a Chile en el Congreso de la Mujer en México, donde compartí
                mi experiencia sobre la salud mental en la mujer. Asimismo, he participado en entrevistas radiales y he
                dictado charlas a solicitud de la Seremi de Salud, con motivo del Día de la Salud Mental. También he
                brindado formación a empresarias del país y he realizado exposiciones en espacios públicos.
                <br>
                <br>
                Cuento con más de 11 años de experiencia en operativos sociales que nutren mi alma y me conectan con la
                esencia de la vida. Todas estas experiencias han enriquecido mi vida, tanto profesional como
                personalmente, y estoy comprometida a crear un espacio seguro donde puedas descubrir tu verdadero
                potencial.
                <br>
                <br>
                Te invito a dar el primer paso hacia tu transformación. Juntos, podemos lograr que te conectes contigo
                mismo y con la vida que deseas vivir.
            </p>
        </div>
        <div class="quien-soy-imagen col">
            <img id="scrolling-image" src="assets/SARA_RECIBIENDO.jpg" />
        </div>
    </div>
</section>

<section class="content-3" id="servicios">
    <div class="titulo">
        <p>Servicios Profesionales</p>
    </div>
    <div class="sub-titulo">
        <p>Te ofrezco un espacio cálido y acogedor, donde te acompaño en el cuidado y fortalecimiento de tu salud
            mental, emocional, física, energética y espiritual. Juntos, trabajaremos en tu bienestar integral, creando
            un camino hacia el crecimiento y la transformación personal.</p>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://wa.me/56993536332" target="_blank">
                <p class="titulo-2">Psicoterapia Adulto Online</p>
                <p class="contenido">No importa lo que hayas vivido en el pasado o lo que estés
                    enfrentando
                    en el presente; lo verdaderamente relevante es tu disposición a descubrir, comprometerte y actuar en
                    favor de tu propia vida. ¡Bienvenido a tu transformación!</p>
                <div class="mas-info-container">
                    <p href="#" class="mas-info">MÁS INFO</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://wa.me/56993536332" target="_blank">
                <p class="titulo-2">Mentoría Online “Alma Consciente” </p>
                <p class="contenido">Deja de perder el tiempo esperando que la 'vida' cambie tus circunstancias; eres tú
                    quien debe transformarlas. En la mentoría, te acompañaré a elevar tu seguridad y confianza mientras
                    sanas tu vida. Tendrás un acompañamiento personalizado a través de sesiones individuales y
                    masterclasses
                    transformacionales. ¡Bienvenido/a!</p>
                <div class="mas-info-container">
                    <p href="#" class="mas-info">MÁS INFO</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://wa.me/56993536332" target="_blank">
                <p class="titulo-2">Preventa de Mi Libro</p>
                <p class="contenido">Libro 100% práctico, te proporciona las herramientas necesarias para abordar
                    tus
                    síntomas o malestares desde los aspectos mentales, emocionales, energéticos y espirituales. Es una guía
                    imprescindible para quienes buscan sanar y crecer. ¡Reserva tu ejemplar aquí!</p>
                <div class="mas-info-container">
                    <p href="#" class="mas-info">MÁS INFO</p>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://wa.me/56993536332" target="_blank">
                <p class="titulo-2">Cumbres Presenciales</p>
                <p class="contenido">Encuentros de alto nivel, diseñados para potenciar tu autoconfianza,
                    autoconocimiento y
                    desarrollo personal, integrando herramientas desde la psicología, diversas terapias y tu espiritualidad. ¡Bienvenid{{'@'}}!
                </p>
                <div class="mas-info-container">
                    <p href="#" class="mas-info">MÁS INFO</p>
                </div>
            </a>
        </div>
    </div>
</section>


<section class="content-4">
    <div class="titulo">
        <p>Valores Principales</p>
    </div>
    <div class="sub-titulo">
        <p>Esta profesión implica una gran responsabilidad y requiere conocimientos, compromiso, autocuidado y
            desarrollo espiritual, para sostener a otro de manera efectiva. Además de lo mencionado,
            destaco los siguientes aspectos:</p>
    </div>

    <div class="content-valores-principales row">
        <div class="valores-principales col">
            <div class="valor" id="valor-1">
                <div class="valor-icono">
                    <i class="fa fa-handshake-o"></i>
                </div>
                <div class="valor-content">
                    <div class="valor-titulo">
                        <p>Vocación</p>
                    </div>
                    <div class="valor-sub-titulo">
                        <p>Sin salud mental y emocional, la vida no es vida. Mi propósito es acompañarte en el proceso
                            de sanar y transformar la tuya.</p>
                    </div>
                </div>
            </div>

            <div class="valor" id="valor-2">
                <div class="valor-icono">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="valor-content">
                    <div class="valor-titulo">
                        <p>Pasión</p>
                    </div>
                    <div class="valor-sub-titulo">
                        <p>Amo lo que hago, me inspira y motiva saber que puedo contribuir a tu vida.</p>
                    </div>
                </div>
            </div>

            <div class="valor" id="valor-3">
                <div class="valor-icono">
                    <i class="fa fa-users"></i>
                </div>
                <div class="valor-content">
                    <div class="valor-titulo">
                        <p>Intuición y Canalización</p>
                    </div>
                    <div class="valor-sub-titulo">
                        <p>Tengo un don especial que me permite sentir, conectar y empatizar contigo. comprendiendo
                            profundamente tu historia y lo que necesitas.</p>
                    </div>
                </div>
            </div>

            <div class="valor" id="valor-4">
                <div class="valor-icono">
                    <i class="fa fa-heartbeat "></i>
                </div>
                <div class="valor-content">
                    <div class="valor-titulo">
                        <p>Mejora Continua</p>
                    </div>
                    <div class="valor-sub-titulo">
                        <p>Como habrás notado, mi formación es continua y diversa, ya que amo aprender y ofrecer lo
                            mejor de mí en cada encuentro.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="valores-principales-imagen col">
            <img id="scrolling-image2" src="assets/SARA_VALORES.jpeg" />
        </div>
    </div>
</section>


<section class="content-5">
    <div class="titulo">
        <p>Preguntas frecuentes</p>
    </div>
    <div class="preguntas">
        <details>
            <summary><i class="fa fa-caret-down"></i>¿La atención online, es efectiva igual que la presencial?</summary>
            <p>Sí, funciona perfecta y eficientemente. Es importante que
                dispongas de un espacio privado y tranquilo, con conexión a Internet estable. Te sugiero tener a
                mano pañuelos, agua, cuaderno para tomar notas de tus sesiones y, un
                corazón abierto y dispuesto a sanar.</p>
        </details>
        <details>
            <summary><i class="fa fa-caret-down"></i>¿Puedo reembolsar las boletas con mi Isapre y/o seguro?</summary>
            <p>Si, puedes hacerlo. El reembolso depende directamente de tu plan.</p>
        </details>
        <details>
            <summary><i class="fa fa-caret-down"></i>¿Cómo puedo reservar una hora?</summary>
            <p>Selecciona la terapia que deseas y serás dirigido al WhatsApp de mi consulta, donde podrás
                agendar tu cita. ¡Estás a un paso de comenzar tu transformación!</p>
        </details>
        <details>
            <summary><i class="fa fa-caret-down"></i>¿Cuál es la inversión de los servicios?</summary>
            <p>El primer paso de tu transformación, es cuando decides invertir en ti:
                <br>
                - Sesión de Psicoterapia para Adultos: $62.000 CLP o $ 66 UDS
                <br>
                - Mentoría Alma Consciente (4 meses): $1.800.000 CLP O $ 1.911 UDS
                <br>
                Puedes optar por el medio de pago que prefieras.
            </p>
        </details>
    </div>
</section>


<section class="content-6">
    <div class="desktop">
        <swiper-container slides-per-view="3" speed="500" loop="true" style="height: 500px;" autoplay="true">
            <swiper-slide (click)="open(0)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/1.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(1)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/2.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(2)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/3.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(3)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/4.jpeg" /></swiper-slide>
        </swiper-container>
    </div>
    <div class="movil">
        <swiper-container slides-per-view="1" speed="500" loop="true" style="height: 500px;" autoplay="true">
            <swiper-slide (click)="open(0)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/1.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(1)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/2.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(2)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/3.jpeg" /></swiper-slide>
            <swiper-slide (click)="open(3)"><img style="width: 100%; height: 100%; object-fit: cover;"
                    src="assets/galeria/4.jpeg" /></swiper-slide>
        </swiper-container>
    </div>
</section>


<section class="content-7">
    <div class="titulo">
        <p>Testimonios</p>
    </div>
    <div class="testimonios">
        <div class="testimonio">
            <div class="comentario">
                <p>
                    "Sara es una persona muy asertiva, muy profesional y muy cálida. En lo personal, me ha brindado
                    herramientas para trabajar y mejorar en varios aspectos de mi vida, tanto a nivel personal como
                    laboral/empresarial. Estoy agradecido enormemente que nos hayamos encontrado. Creo fuertemente, que
                    la decisión de estar en terapia con Sara ¡es una de las mejores inversiones que he tomado en mi
                    vida!”.
                </p>
            </div>
            <div class="persona">
                <div class="foto">
                    <img src="assets/testimonio/javier.png" />
                </div>
                <div class="info">
                    <div class="nombre">
                        <p>JAVIER ALBORNOZ</p>
                    </div>
                    <div class="profecion">
                        <p>Empresario</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonio">
            <div class="comentario">
                <p>
                    "Uno no sabe que necesita orientación psicológica hasta que toma su primera sesión. Esto me pasó a
                    mí que por recomendación decidí probar; vaya que prueba, varias sesiones después sigo emocionado por
                    todo el descubrimiento que he tenido de mí, cómo mi infancia ha definido mi forma de actuar. Ahora
                    me siento con un superpoder, el de poder actuar de forma distinta y consciente, convertirme en una
                    versión 2.0 de mí mismo, que deja de lado ese pasado y es capaz de decirle no, al actuar de su
                    versión anterior. A esto le llamo una Transformación, que gracias a Sara fue posible".
                </p>
            </div>
            <div class="persona">
                <div class="foto">
                    <img src="assets/testimonio/jorge.png" />
                </div>
                <div class="info">
                    <div class="nombre">
                        <p>JORGE VILLAGRÁN</p>
                    </div>
                    <div class="profecion">
                        <p>Ing. Civil en Informática</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonio">
            <div class="comentario">
                <p>
                    "Llegar a esta terapia ha sido un gran descubrimiento, me ha ayudado mucho en mi proceso de sanación
                    y a buscar mi mejor versión. Sara es muy amorosa, cálida y una excelente profesional. Espero muchas
                    personas más tengan la fortuna de atenderse con ella".
                </p>
            </div>
            <div class="persona">
                <div class="foto">
                    <img src="assets/testimonio/rosa.png" />
                </div>
                <div class="info">
                    <div class="nombre">
                        <p>ROSA ACEVEDO</p>
                    </div>
                    <div class="profecion">
                        <p>Contador Auditor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonio">
            <div class="comentario">
                <p>
                    "Desde el primer contacto que tuve con Sara, se desencadenó un proceso de cambio en mi vida, un
                    proceso de sanacion concreta hasta el punto de experimentarlo en mi propio cuerpo. Agradecida del
                    Universo y las fuerzas divinas que me llevaron a buscar y encontrarla. Le deseo a cada persona que
                    está en busca de su conocimiento interior, encuentre una persona donde se sienta acogida, entendida,
                    escuchada y sobretodo recibida con calorcito humano, como yo me he sentido con Sara”.
                </p>
            </div>
            <div class="persona">
                <div class="foto">
                    <img src="assets/testimonio/dina.png" />
                </div>
                <div class="info">
                    <div class="nombre">
                        <p>Dina Goecke</p>
                    </div>
                    <div class="profecion">
                        <p>Educadora de Párvulos <br> Alemania <img
                                src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg"
                                alt="Flag of Germany" width="25" height="15"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-8" id="contacto">
    <div class="titulo">
        <p>Contáctame</p>
    </div>

    <div class="info">
        <div class="contacto">
            <div class="dato"><a href="tel:+56993536332">
                    <p><i class="fa fa-whatsapp"></i> +56 9 9353 6332</p>
                </a></div>
            <div class="dato">
                <p><i class="fa fa-envelope"></i> {{"ps.saracifuentes@gmail.com"}}</p>
            </div>
            <div class="dato">
                <p><i class="fa fa-map-marker"></i> Chillán, Chile</p>
            </div>
        </div>
        <div class="rrss">
            <div class="sub-titulo"><p>Sígueme en Redes Sociales</p></div>
            <div class="contenido">
                <a href="https://www.instagram.com/sarapsicologiaconsciente" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.doctoralia.cl/sara-cifuentes-inostroza/psicologo/chillan#tab=profile-reviews" style="display: flex;justify-content: center; align-items: center;" target="_blank"><img style="padding-left: 2px;padding-right: 2px;" height="20" width="20" src="assets/doctoralia.png" /></a>
                <a><i class="fa fa-youtube-play"></i></a>
                <a><i class="fa fa-spotify"></i></a>
            </div>
        </div>
        <div class="links">
            <a href="mailto:info@saracifuentes.com?subject=Hola%20Sara!%20Vengo%20de%20tu%20P%C3%A1gina%20Web..."><i class="fa fa-envelope"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+56993536332&text=Hola%20Sara,%20vengo%20de%20tu%20P%C3%A1gina%20Web%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n.%20Mi%20nombre%20es%20" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</section>


<footer>
    <p>Copyright © {{year}} <b>Sara Cifuentes</b> - Todos los derechos reservados</p>
</footer>